/* -----------------mobile view code css---------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@media (max-width:992px) {
    
    /* page 1 -------------------------------- */

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Mulish', sans-serif;
    }
    .page1 {
        width: 100%;
        overflow: hidden;
    }

    .headlist {
       
        font-size: 18px;
    }
    
    b{
        font-weight: bold;
    }

 
    .list {
        font-size: 14px;
    }

    .list:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .built {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .leftbld {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -30px;
    }


    .headline {
        width: 100%;
    }

    .arrowimg {
        display: none;
    }

    .btn {
        width: 100%;
    }

    #btn1:hover {
        color: #1E3240;
        background-color: white;
        font-weight: bolder;
        cursor: pointer;
    }

    #btn2:hover {
        color: #1E3240;
        background-color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .rightbld {
        width: 100%;

    }

    .rightslh {
        display: none;
    }

    .leftslh {
        display: none;
    }

    .buildimg {
        width: 900px;
        margin-right: -220px;
    }


    .container{
        overflow: hidden;
    }
    
/* page 2 -------------------------------- */

    .page2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        overflow: hidden;
    }

    .leftpart {
        width: 100%;
    }

    .leftimgbld {
        width: 100%;
    }

    .rightpart {
        width: 100%;
        display: grid;
    }

    .estatedubai {
        width: 100%;
    }

/* page 3 -------------------------------- */

    .page3 {
        width: 100%;
        overflow: hidden;
    }

    .leftpropara {
        width: 100%;
        overflow: hidden;
    }

    .doublearw {
        display: none;
    }

    .card1 {
        width: 100%;
        overflow: hidden;
    }

    .card2 {
        width: 330px;
        height: 490px;
    }

/* page 4 -------------------------------- */

    .page4 {
        width: 100%;
        overflow: hidden;
    }

    .cmthead {
        width: 100%;
        display: contents;
    }

    .temp {
        width: 800px;
        margin-left: -190px;
    }

    .backarw {
        display: none;
    }

    .girlimg {
        width: 100%;
    }

    .left4 {
        width: 100%;
        margin-top: 40px;
    }

    .right4 {
        width: 100%;
        margin-top: 400px;
        margin-left: -730px;
    }

    .slhtwo {
        display: none;
    }

    .frwordarw {
        display: none;
    }

/* page 5 -------------------------------- */

    .page5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .lefthomepart {
        width: 100%;
        padding-top: 100px;
    }

    .Contactpart {
        width: 100%;
        display: contents;
    }

    form{
        display: contents;
    }

    .desc {
        width: 100%;
    }

/* page 6 -------------------------------- */

    .page6 {
        width: 100%;
        overflow: hidden;
    }

    .firstheadall {
        width: 100%;
    }

    .secondheadall {
        width: 100%;
    }
}

/* ---------------desktop view code css------------------------------------- */

@media (min-width:991px) {
    .page1 {
        width: 100%;
    }

    .page2 {
        width: 100%;
    }

    .page3 {
        width: 100%;
    }

    .page4 {
        width: 100%;
    }

    .page5 {
        width: 100%;
    }

    .page6 {
        width: 100%;
    }
}

/* ---------------------overall design css----------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* --------------------page one design---------------------------- */
.page1 {
    background-color: #AFD4E2;
    padding-left: 160px;
}

.headlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 0px 0px;
    font-size: 18px;
    position: relative;
    z-index: 99;
}

b{
    font-weight: bold;
}

.list {
    font-size: 14px;
    padding-left: 80px;
}
.list:hover{
    text-decoration: underline;
    cursor: pointer;
}
.built {
    color: #1E3240;
    width: 100%;
    height: auto;
    display: flex;
}

.leftbld {
    width: 52%;
    height: auto;
    padding-top: 130px;
}

.headline {
    font-size: 85px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.6mm;
}

.leftslh {
    position: absolute;
    padding-left: 10px;
    padding-top: 250px;
}

.rightslh {
    position: absolute;
    padding-left: 367px;
    padding-top: 140px;
}

.para {
    padding: 10px 0px;
    font-family: Mulish;
}

.btn {
    padding-top: 30px;
}

#btn1 {
    background-color: #1E3240;
    padding: 20px;
    width: 120px;
    margin-right: 20px;
    color: white;
    border: none;
}

#btn2 {
    padding: 20px;
    width: 120px;
    background-color: #AFD4E2;
    color: #1E3240;
    border: 1px solid #1E3240;
}

.arrowimg {
    margin-left: 470px;
    position: absolute;
    margin-top: -20px;
}

.rightbld {
    width: 48%;
    height: auto;
    margin-top: -25px;
}

.buildimg {
    width: 1300px;
    float: right;
}

/* --------------------page second design---------------------------- */


.container{
    padding: 0px 160px;
}

.page2 {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
}

.leftpart {
    width: auto;
}

.leftimgbld {
    width: 445px;
    height: 500px;
    margin: 50px 70px 0px 0px ;
}

.rightpart {
    width: auto;
}

.estatedubai {
    color: black;
    font-size: 48px;
    font-weight: bold;
    padding: 100px 0px 25px 0px;
}

.estatepara {
    color: #BDBDBD;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 0px 40px 0px;
}

.companydts {
    width: 600px;
    display: flex;
}

.pre {
    width: 180px;
    color: #AFD4E2;
    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
    padding: 0px 40px 0px 0px;
}

.frtnum {
    color: #1E3240;
    font-size: 28px;
    font-weight: 300;
    padding: 15px 0px 0px 20px;
}



/* --------------------page third design---------------------------- */
.page3 {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 150px 0px 0px 0px;
}

.leftpropara{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gopjt {
    font-family:sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.magna {
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 400;
    padding: 25px 0px 84px 0px;
}

.forwardslide , .backslide{
    width: 22px;
    height: 22px;
    margin-left: 6px;
    cursor: pointer;
}

.allcard {
    display: flex;
    overflow-x: scroll;
}


.areaback{
    width: 310px;
    height: 95px;
    font-family: sans-serif;
    background-color: #fff;
    border: 3px solid #fff;
    box-shadow: 0 0 5px 2px #d2d2d257;
    margin: 0 20px 40px 20px;
    padding: 10px;
    position: relative;
    top: -40px;
}

.img1{
    padding-left: 10px;
}

.img2{
    padding: 0px 20px 0px 20px;
}

.img3{
    padding-right:20px;
}

.areaback p{
    padding: 15px 0px 0px 0px;
}





/* --------------------page forth design---------------------------- */
.page4 {
    background-color: white;
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.cmthead {
    color: #1E3240;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    padding: 0px 165px 12px 165px;
}

.temp {
    color: #BDBDBD;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    padding: 10px 165px 0px 165px;
}

.imagerow {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
}

.left4 {
    margin-top: 70px;
}

.backarw {
  display: none;
}

.girlimg {
    width: 445px;
    height: 350px;
    margin: 0px 0px 126px 0px;
}

.right4 {
   padding: 70px 0px 0px 70px;
}

.slhtwo {
    width: 50px;
    height: 28px;
}

.drmhome {
    color: #101b22;
    font-size: 32px;
    font-weight: 200;
    padding: 30px 0px;
}

.temppara {
    color: #1E3240;
    font-size: 24px;
    font-weight: lighter;
}

.frwordarw {
   display: none;
}

.sim {
    color: #0c141a;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 25px 0px 20px 0px;
}

.Art {
    color: #bdbdbde7;
    font-size: 18px;
    font-weight: 200;
}

/* --------------------page fifth design---------------------------- */
.page5 {
    background-color: white;
    width: 100%;
    display: flex;
    padding-bottom: 100px;
}

.lefthomepart {
    background-color: white;
}

.lefthome {
    width: 445px;
    height: 500px;
}

.Contactpart {
    background-color: white;
    padding-left: 70px;
}

.Contactpara {
    color: black;
    font-size: 28px;
    font-weight: 300;
    padding: 30px 0px;
}

.paracon {
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 75px;
}

.frtname {
    color: #BDBDBD;
    background-color: white;
    width: 230px;
    height: 55px;
    font-size: 15px;
    font-weight: 200;
    padding: 15px;
    margin: 0px 10px 14px 0px;
}

.desc {
    color: #BDBDBD;
    background-color: white;
    width: 475px;
    height: 75px;
    font-size: 15px;
    font-weight: 200;
    padding: 15px;
}

.getpara {
    display: flex;
}

.quote {
    background-color: #1E3240;
    color: white;
    width: 154px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #1E3240;
    margin: 18px 6px 0px 0px;
}

.spam {
    color: #BDBDBD;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding-top: 35px;
}

/* --------------------page sixth design---------------------------- */
.page6 {
    background-color: #1E3240;
    width: 100%;
    display: flex;
}

.firstheadall {
    padding-right: 230px;
    height: auto;
}

.footerhead {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding: 90px 0px 12px 142px;
}

.identify {
    padding-top: 8px;
    display: flex;
}

.locate {
    width: 16px;
    height: 16px;
    margin: 2px 8px 32px 140px;
}

.address {
    color: #BDBDBD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 12px 0px;
}

.phone {
    margin: 2px 8px 16px 140px;
}

.callno {
    padding: 0px 0px 12px 0px;
}

.email {
    margin: 2px 8px 121px 140px;
}

.emailid {
    padding: 0px 0px 119px 0px;
}

.copyright {
    color: #BDBDBD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 30px 140px;
}

.secondheadall {
    display: flex;
}

.quick {
    padding: 90px 0px 12px 8px;
}

.legal {
    padding: 90px 0px 12px 76px;
}

.media {
    padding: 90px 0px 12px 76px;
}

.subname {
    color: #BDBDBD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 2px 0px 12px 8px;
}

.llink {
    padding: 2px 0px 12px 76px;
}
